*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img-3/jumbo.png);
    background-size: cover;
    height: 50vh;
}

header>div{
    width: 80%;
    margin: 0 auto;
}

.flex-container-1, #flex-container-2, #flex-container-3{
    display: flex;
}

.logo{
    height: 5vh;
    width: 10%;
    background-image: url(../img-3/logo.svg);
    background-size: cover;
}

#menu{
    height: 5vh;
    width: 60%;
    color: white;
    display: flex;
    justify-content: space-around;
}

.menu-text{
    margin: auto 0;
}

#button-1{
    height: 4vh;
    width: 10%;
    border-radius: 40%;
    margin: auto 0;
}

header .flex-container-1{
    align-items: center;
    justify-content: space-between;
}

article{
    width: 45%;
    margin: 5% auto;
    text-align: center;
    color: white;
}

#button-2{
    height: 4vh;
    width: 25%;
    border-radius: 40%;
    margin: auto 1%;
}

#button-3{
    height: 4vh;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 40%;
    margin: auto 1%;
}

#button-group{
    margin-top: 2vh;
}

main section .flex-container-1{
    height: 70vh;
    width: 80%;
    margin: 1% auto;
}

.flex-container-1 #img-1{
    background-image: url(../img-3/item1.svg);
    background-size: cover;
    height: 70vh;
    flex: 60%;
}

.text-1 {
    height: 40vh;
    flex: 40%;
    margin-top: 5vh;
}

.flex-container-1 .text-1 p{
    margin-top: 5vh;
}

.bg-grey{
    background-color: lightgrey;
}

.flex-container-1 #img-2{
    background-image: url(../img-3/item2.svg);
    background-size: cover;
    height: 70vh;
    flex: 60%;
}

.flex-container-1 #img-3{
    background-image: url(../img-3/item3.svg);
    background-size: cover;
    height: 70vh;
    flex: 60%;
}

main #flex-container-2{
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 150vh;
    margin: 0 auto;
}

#flex-container-2 #text-2{
    text-align: center;
    width: 100%;
    margin: 1vh 0;
}

#flex-container-2 #text-2 p{
    margin-top: 5vh;
}

#flex-container-2 #img-4{
    background-image: url(../img-3/item4-big.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 1vh 0;
}

#flex-container-2 #container-button-4{
    height: 20vh;
    width: 100%;
    margin: 1% 0;
    text-align: center;
}

#button-4{
    height: 4vh;
    width: 20%;
    background-color: blue;
    color: white;
    border-radius: 40%;
    margin: 5vh 0;
}

footer{
    height: 70vh;
    background-color: black;
}

.flex-container-1 #text-3{
    height: 20vh;
    width: 20%;
    margin-top: 5vh;
}

.flex-container-1 #text-3 h1{
    color: blue;
    margin-bottom: 3vh;
}

.flex-container-1 #text-3 img{
    height: 4vh;
    width: 10%;
    display: inline-block;
}

.flex-container-1 #text-3 span{
    color: white;
}

.flex-container-1 ul{
    list-style-type: none;
}

.flex-container-1 ul :first-child{
    color: blue;
}

.flex-container-1 li{
    margin: 1vh 0;
    color: white;
}

.flex-container-1 .column-1{
    height: 40vh;
    width: 20%;
    margin-top: 5vh;
}

.flex-container-1 #column-2{
    height: 50vh;
    width: 20%;
    margin-top: 5vh;
}

footer .flex-container-1{
    justify-content: space-around;
}

footer #flex-container-3{
    height: 10vh;
    width: 80%;
    margin: 2vh auto;
    align-items: center;
    justify-content: space-between;
}

hr{
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    width: 90%;
    margin: auto;    
}

#flex-container-3 #button-5{
    background-color: blue;
    color: white;
    height: 4vh;
    width: 10%;
    border-radius: 40%;
    margin: auto 0;
}
