*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img-3/jumbo.png);
    background-size: cover;
    height: 50vh;
}

header>div{
    width: 80%;
    margin: 0 auto;
}

.flex-container-1, #flex-container-2, #flex-container-3{
    display: flex;
}

.logo{
    height: 5vh;
    width: 10%;
    background-image: url(../img-3/logo.svg);
    background-size: cover;
}

#menu{
    height: 5vh;
    width: 60%;
    color: white;
    display: flex;
    justify-content: space-around;
}

.menu-text{
    margin: auto 0;
}

#button-1{
    height: 4vh;
    width: 10%;
    border-radius: 40%;
    margin: auto 0;
}

header .flex-container-1{
    align-items: center;
    justify-content: space-between;
}

article{
    width: 45%;
    margin: 5% auto;
    text-align: center;
    color: white;
}

#button-2{
    height: 4vh;
    width: 25%;
    border-radius: 40%;
    margin: auto 1%;
}

#button-3{
    height: 4vh;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 40%;
    margin: auto 1%;
}

#button-group{
    margin-top: 2vh;
}

#flex-container-2{
    background-color: grey;
    height: 600px;
}

main .flex-container-1{
    background-color: grey;
    height: 400px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.flex-container-1 .img-1{
    background-color: green;
    height: 80%;
    flex: 60%;
    margin: 0 1%;
}

.flex-container-1 .text-1{
    background-color: yellow;
    height: 80%;
    flex: 40%;
    margin: 0 1%;
}

#flex-container-2 #text-2{
    background-color: yellow;
    height: 30%;
    width: 100%;
    margin: 0 1%;
}

#flex-container-2 #img-2{
    background-color: green;
    height: 50%;
    width: 100%;
    margin: 0 1%;
}

#flex-container-2 #button-4{
    height: 20%;
    width: 20%;
    margin: 1% 0;
    background-color: red;
}

main #flex-container-2{
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

footer{
    height: 300px;
    background-color: black;
}

.flex-container-1 #text-3{
    background-color: yellow;
    height: 100px;
    width: 200px;
    margin-top: 20px;
}

.flex-container-1 .column-1{
    background-color: red;
    height: 100px;
    width: 50px;
    margin-top: 20px;
}

.flex-container-1 #column-2{
    background-color: blue;
    height: 200px;
    width: 50px;
    margin-top: 20px;
}

footer .flex-container-1{
    justify-content: space-around;
}

footer #flex-container-3{
    height: 50px;
    background-color: gray;
    margin: 10px 50px;
    align-items: center;
    justify-content: space-between;
}

#flex-container-3 #button-5{
    height: 30px;
    width: 50px;
    background-color: yellow;
}
